<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PCDefaultFile</key>
	<string></string>
	<key>PCOpenDefaultFileOnStartup</key>
	<false/>
	<key>PCPasswordGeneratorUppercase</key>
	<true/>
	<key>PCPasswordGeneratorDigits</key>
	<true/>
	<key>PCPasswordGeneratorPunctuation</key>
	<false/>
	<key>PCPasswordGeneratorLength</key>
	<integer>10</integer>
</dict>
</plist>
